.active {
  background-color: crimson;
  color: white;
  text-decoration: none !important;
  font-style: italic;
  font-weight: bold;
}
.item {
  text-decoration: none !important;
}

.navbar {
  display: inline-flex;
  width: 100%;
}

.navbarItem {
  width: 10%;
  list-style: none;
}
